body {
    font-family: sans-serif;
    background-image: url('https://img.freepik.com/premium-photo/blurred-light-blue-and-white-background-defocused-art-abstract-denim-gradient-backdrop-with-blur-and-bokeh_113767-4676.jpg');
    background-repeat: none;
    background-size: cover;
    opacity: 0;
    animation: ani 2.5s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

td {
    border: 2px solid brown;
    border-collapse: collapse;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

table {
    border: 2px solid brown;
    border-radius: 10px;
    border-left: 5px dotted brown;
    border-right: 5px dotted brown;
}

img {
    width: 20px;
    height: 20px;
}

.first {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.last {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
}

.main {
    border-radius: 15px;
}

main p {
    border: 2px solid brown;
    border-collapse: collapse;
    text-align: center;
    font-weight: bolder;
}

.gamelink, .troll {
    text-decoration: none;
    border: 2px solid green;
    border-radius: 10px;
    border-collapse: collapse;
    color: blue;
    padding: 2px;
}

.gamelink {
    margin: 10px;
}

header h1, footer h2, footer h3{
    font-weight: normal;
}

table td {
    padding: 2px;
}

.sitelink {
    text-decoration: none;
    border: 2px solid green;
    border-radius: 10px;
    border-collapse: collapse;
    color: green;
    padding: 2px;
}

footer p {
    text-align: center;
}body {
    font-family: sans-serif;
    background-image: url('https://img.freepik.com/premium-photo/blurred-light-blue-and-white-background-defocused-art-abstract-denim-gradient-backdrop-with-blur-and-bokeh_113767-4676.jpg');
    background-repeat: none;
    background-size: cover;
    opacity: 0;
    animation: ani 2.5s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

td {
    border: 2px solid brown;
    border-collapse: collapse;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

table {
    border: 2px solid brown;
    border-radius: 10px;
    border-left: 5px dotted brown;
    border-right: 5px dotted brown;
}

img {
    width: 20px;
    height: 20px;
}

.first {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.last {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
}

.main {
    border-radius: 15px;
}

main p {
    border: 2px solid brown;
    border-collapse: collapse;
    text-align: center;
    font-weight: bolder;
}

.gamelink, .troll {
    text-decoration: none;
    border: 2px solid green;
    border-radius: 10px;
    border-collapse: collapse;
    color: blue;
    padding: 2px;
}

.gamelink {
    margin: 10px;
}

header h1, footer h2, footer h3{
    font-weight: normal;
}

table td {
    padding: 2px;
}

.sitelink {
    text-decoration: none;
    border: 2px solid green;
    border-radius: 10px;
    border-collapse: collapse;
    color: green;
    padding: 2px;
}

footer p {
    text-align: center;
}body {
    font-family: sans-serif;
    background-image: url('https://img.freepik.com/premium-photo/blurred-light-blue-and-white-background-defocused-art-abstract-denim-gradient-backdrop-with-blur-and-bokeh_113767-4676.jpg');
    background-repeat: none;
    background-size: cover;
    opacity: 0;
    animation: ani 2.5s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

td {
    border: 2px solid brown;
    border-collapse: collapse;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

table {
    border: 2px solid brown;
    border-radius: 10px;
    border-left: 5px dotted brown;
    border-right: 5px dotted brown;
}

img {
    width: 20px;
    height: 20px;
}

.first {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.last {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
}

.main {
    border-radius: 15px;
}

main p {
    border: 2px solid brown;
    border-collapse: collapse;
    text-align: center;
    font-weight: bolder;
}

.gamelink, .troll {
    text-decoration: none;
    border: 2px solid green;
    border-radius: 10px;
    border-collapse: collapse;
    color: blue;
    padding: 2px;
}

.gamelink {
    margin: 10px;
}

header h1, footer h2, footer h3{
    font-weight: normal;
}

table td {
    padding: 2px;
}

.sitelink {
    text-decoration: none;
    border: 2px solid green;
    border-radius: 10px;
    border-collapse: collapse;
    color: green;
    padding: 2px;
}

footer p {
    text-align: center;
}body {
    font-family: sans-serif;
    background-image: url('https://img.freepik.com/premium-photo/blurred-light-blue-and-white-background-defocused-art-abstract-denim-gradient-backdrop-with-blur-and-bokeh_113767-4676.jpg');
    background-repeat: none;
    background-size: cover;
    opacity: 0;
    animation: ani 2.5s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

td {
    border: 2px solid brown;
    border-collapse: collapse;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

table {
    border: 2px solid brown;
    border-radius: 10px;
    border-left: 5px dotted brown;
    border-right: 5px dotted brown;
}

img {
    width: 20px;
    height: 20px;
}

.first {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.last {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
}

.main {
    border-radius: 15px;
}

main p {
    border: 2px solid brown;
    border-collapse: collapse;
    text-align: center;
    font-weight: bolder;
}

.gamelink, .troll {
    text-decoration: none;
    border: 2px solid green;
    border-radius: 10px;
    border-collapse: collapse;
    color: blue;
    padding: 2px;
}

.gamelink {
    margin: 10px;
}

header h1, footer h2, footer h3{
    font-weight: normal;
}

table td {
    padding: 2px;
}

.sitelink {
    text-decoration: none;
    border: 2px solid green;
    border-radius: 10px;
    border-collapse: collapse;
    color: green;
    padding: 2px;
}

footer p {
    text-align: center;
}body {
    font-family: sans-serif;
    background-image: url('https://img.freepik.com/premium-photo/blurred-light-blue-and-white-background-defocused-art-abstract-denim-gradient-backdrop-with-blur-and-bokeh_113767-4676.jpg');
    background-repeat: none;
    background-size: cover;
    opacity: 0;
    animation: ani 2.5s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

td {
    border: 2px solid brown;
    border-collapse: collapse;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

table {
    border: 2px solid brown;
    border-radius: 10px;
    border-left: 5px dotted brown;
    border-right: 5px dotted brown;
}

img {
    width: 20px;
    height: 20px;
}

.first {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.last {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
}

.main {
    border-radius: 15px;
}

main p {
    border: 2px solid brown;
    border-collapse: collapse;
    text-align: center;
    font-weight: bolder;
}

.gamelink, .troll {
    text-decoration: none;
    border: 2px solid green;
    border-radius: 10px;
    border-collapse: collapse;
    color: blue;
    padding: 2px;
}

.gamelink {
    margin: 10px;
}

header h1, footer h2, footer h3{
    font-weight: normal;
}

table td {
    padding: 2px;
}

.sitelink {
    text-decoration: none;
    border: 2px solid green;
    border-radius: 10px;
    border-collapse: collapse;
    color: green;
    padding: 2px;
}

footer p {
    text-align: center;
}
